.menu {
    background-color: var(--box-color);
    /* overflow: hidden; */
    position: sticky;
    top: 55px;
    z-index: 100;
    border: none;
    border-top: 1px solid var(--hover-color);
    height: 45px;
    z-index: 100;

}




.menu .sidebar__list {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.menu .sidebar__list .navbar {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    width: fit-content;
    padding: 0 16px;
    position: relative;
    transition: 0.3s all;
    cursor: pointer;
    font-size: var(--text-size);
    height: 100%;
}

.menu .sidebar__list .navbar svg {
    width: 20px;
    color: var(--icon-color);
}

@media(max-width:768px) {
    .menu .sidebar__list .navbar svg {
        width: 25px;
    }
}

.menu .sidebar__list .icon_chats {
    display: none;
}

.menu .sidebar__list .navbar p {
    color: var(--text-color);
}

.menu .sidebar__list .navbar:hover {
    background-color: var(--body-color);
    transition: 0.3s all;
}

.menu .sidebar__list .navbar::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s all;
}

.menu .sidebar__list .navbar:hover::after {
    width: 100%;
}

.menu .sidebar__list .navbar:hover svg {
    color: var(--main-color);
}

.menu .sidebar__list .active {
    background-color: var(--body-color);
    color: var(--main-color);
}

.menu .sidebar__list .active svg {
    color: var(--main-color);
}

.menu .sidebar__list .active p {
    color: var(--main-color);
}

.menu .sidebar__list .active::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    left: 0;
}



@media(max-width:767px) {
    .menu {
        height: 50px;
    }

    .menu .sidebar__list {
        justify-content: space-around;
    }

    .menu .sidebar__list .navbar {
        padding: 5px;
        justify-content: space-around;
        flex-direction: column;
        gap: 0;
    }

    .menu .sidebar__list .navbar p {
        font-size: 10px;
        font-weight: 300;
    }

    .menu .sidebar__list .navbar:hover {
        background-color: transparent;
    }

    .menu .sidebar__list .navbar::after {
        content: '';
        background-color: transparent;
    }

    .menu .sidebar__list .active {
        background-color: transparent !important;
    }


}

@media(max-width:1191px) {
    .menu .sidebar__list .icon_chats {
        display: flex;
    }
}


.menu .schoolss {
    display: none;
}

.menu .sidebar__list .Suggested {
    display: none;
}

@media(max-width:768px) {
    .menu .schoolss {
        display: block;
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 50px;
        right: 0;
        border: none;
    }

    .menu .sidebar__list .Suggested {
        display: flex;
    }
}