

.home{
    padding:10px 0;
    position: relative;
}
.home .container{
display: flex;
gap: 10px;
}

.home .container .rew{
width: 50%;
display: flex;
flex-direction: column;
gap: 10px;
position: relative;
}

@media(max-width:1190px){
    .home{
        padding: 10px 0;
        
    }
    .home .container{   
        flex-direction: column;
        justify-content: start;
        }
        .home .container .rew{
            width:100%;
            }
        
}